@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("/src/assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url("/src/assets/fonts/Roboto-Medium.ttf");
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("/src/assets/fonts/Roboto-Bold.ttf");
}
