// ---fonts----------------------
$font-family: Roboto, sans-serif;
$second-family: Arial, sans-serif;

// ---colors---------------------
$black: #08020d;
$white: #ffffff;
$white-dark: #cacaca;
$gray-light: #757575;
$gray-dark: #3c3b3d;
$green: #3cc27b;
$orange: #f89202;
$purple: #5328a1;
$brown: #aa4817;
$green-bright: #00b755;
$purple-bright: #3d118e;
$brown-bright: #953200;
