.bg-artist {
  background-image: url("../../assets/images/banners/morten-harket.png");
}

.artist-title {
  @include media(custom, 682px) {
    margin-top: 218px;
  }

  @include media(mobile) {
    margin-top: 225px;
  }
}

.artist-buttons {
  gap: 1.5rem;

  @include media(custom, 682px) {
    flex-direction: column;
  }
}

.artist-button {
  width: 200px;
  height: 62px;
  padding: 20px 30px;
  gap: 16px;
  font-size: 12.8px;
}
