@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
}
* {
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  display: block;
}
html {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #08020d;
}
body {
  margin: 0;
  min-height: 100vh;
}
h1,
h2,
h3,
.h1,
.h2,
.h3 {
  color: #fff;
  text-transform: uppercase;
}
h1,
.h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
}
@media screen and (max-width: 875px) {
  h1,
  .h1 {
    font-size: 30px;
    line-height: 45px;
  }
}
h2,
.h2 {
  font-weight: 700;
  font-size: 38px;
  line-height: 57px;
}
@media screen and (max-width: 875px) {
  h2,
  .h2 {
    font-size: 18px;
    line-height: 27px;
  }
}
h3,
.h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 45px;
}
@media screen and (max-width: 875px) {
  h3,
  .h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
}
.h4-bold {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}
.h4-bold-capitalize {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
}
.container {
  width: clamp(390px, 100%, 1240px);
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.pricing-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: normal;
  gap: 50px 50px;
}
.app-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0 9rem;
}
@media screen and (max-width: 875px) {
  .app-flex-container {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.app-flex-container .app-flex-item-text {
  flex: 1 1 350px;
  max-width: 600px;
}
@media screen and (max-width: 875px) {
  .app-flex-container .app-flex-item-text {
    flex-basis: auto;
  }
}
.footer-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 15px 40px;
}
.footer-social-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0 1.5rem;
}
.footer-list-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem 1rem;
}
@media screen and (max-width: 540px) {
  .footer-list-flex-container {
    flex-direction: column;
  }
}
.current-artist-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem 1.5rem;
}
.popular-tracks-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 550px));
  gap: 25px 50px;
}
.discography-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 25px 50px;
}
@media screen and (max-width: 875px) {
  .discography-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 138px);
    gap: 25px 50px;
  }
}
.similar-artists-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 25px 50px;
}
@media screen and (max-width: 875px) {
  .similar-artists-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 137px);
    gap: 25px 50px;
  }
}
.btn {
  display: block;
  border: none;
  background: none;
  cursor: pointer;
}
.btn-subsription {
  width: 100%;
  height: auto;
  padding: 20px 30px 20px 30px;
}
.btn-album {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: auto;
  padding: 1rem 30px 1rem 30px;
}
.btn-app {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: auto;
  padding: 1rem 40px 1rem 40px;
}
.btn-control {
  width: 200px;
  height: auto;
  padding: 20px 30px 20px 30px;
}
.btn-transparent-f-s-1 {
  border-width: 1px;
  border-radius: 5px;
  border-color: currentColor;
  border-style: solid;
  font-size: 16px;
  color: inherit;
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}
.btn-transparent-f-s-small {
  border-width: 1px;
  border-radius: 5px;
  border-color: currentColor;
  border-style: solid;
  font-size: 12.8px;
  color: inherit;
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}
.btn-green {
  border-width: 0px;
  border-radius: 5px;
  border-color: currentColor;
  border-style: solid;
  font-size: 13.3px;
  color: inherit;
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #34c176;
}
.btn-red-oval {
  border-width: 0px;
  border-radius: 32px;
  border-color: currentColor;
  border-style: solid;
  font-size: 12.8px;
  color: inherit;
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #95390c;
}
.btn-purple {
  border-width: 0px;
  border-radius: 5px;
  border-color: currentColor;
  border-style: solid;
  font-size: 12.8px;
  color: inherit;
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #5328a1;
}
.btn-red-square {
  border-width: 0px;
  border-radius: 5px;
  border-color: currentColor;
  border-style: solid;
  font-size: 12.8px;
  color: inherit;
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #95390c;
}
.input-transparent {
  font-family: inherit;
  border-radius: 3px;
  border: 2px solid #cacaca;
  background-color: rgba(0, 0, 0, 0);
}
.input-dark {
  font-family: inherit;
  border-radius: 50px;
  border: none;
  background-color: #3c3b3d;
}
.page-header ul,
.popular-tracks ul,
.discography ul,
.similar-artists ul,
.page-footer ul {
  padding: 0;
  margin: 0;
}
.page-header {
  font-size: 11px;
  text-transform: uppercase;
}
.header-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: normal;
  gap: 1rem 0;
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
}
@media screen and (max-width: 540px) {
  .header-flex-container {
    flex-direction: column;
  }
}
.header-nav-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem 90px;
}
@media screen and (max-width: 540px) {
  .header-nav-flex-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
.header-logo-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
}
.header-anchors-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0 24px;
}
@media screen and (max-width: 540px) {
  .header-anchors-flex-container {
    flex-direction: column;
    align-items: flex-start;
    font-weight: 700;
  }
}
.header-search {
  width: 248px;
  height: 30px;
  padding: 5px 10px;
}
@media screen and (max-width: 875px) {
  .header-search {
    width: 500px;
  }
}
@media screen and (max-width: 540px) {
  .header-search {
    width: 100%;
  }
}
.header-search::-webkit-input-placeholder {
  font-family: inherit;
  font-size: 13.3px;
  line-height: 15px;
  color: #757575;
  text-transform: uppercase;
}
.header-search::-moz-placeholder {
  font-family: inherit;
  font-size: 13.3px;
  line-height: 15px;
  color: #757575;
  text-transform: uppercase;
}
.header-search::placeholder {
  font-family: inherit;
  font-size: 13.3px;
  line-height: 15px;
  color: #757575;
  text-transform: uppercase;
}
.hero-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem 1.5rem;
  max-width: 570px;
  margin: 0 auto;
}
.hero-form-name,
.hero-form-email {
  flex: 1 1 200px;
  min-height: 50px;
  padding-left: 20px;
}
.hero-form-name::-webkit-input-placeholder,
.hero-form-email::-webkit-input-placeholder {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #fff;
}
.hero-form-name::-moz-placeholder,
.hero-form-email::-moz-placeholder {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #fff;
}
.hero-form-name::placeholder,
.hero-form-email::placeholder {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #fff;
}
.pricing-item {
  flex: 1 1 350px;
  max-width: 450px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.pricing-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
@media screen and (max-width: 875px) {
  .pricing-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
}
.pricing-figure {
  font-size: 64px;
  line-height: 1em;
}
.pricing-currency {
  font-size: 32px;
}
.pricing-footer {
  font-size: 12.8px;
}
.news-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: normal;
  gap: 50px 50px;
}
.news-image {
  flex-basis: 575px;
  min-width: 350px;
}
.news-body {
  flex: 1 1 350px;
  max-width: 575px;
}
.news-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  text-transform: capitalize;
}
@media screen and (max-width: 875px) {
  .news-title {
    font-size: 16px;
    line-height: 24px;
  }
}
.news-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0 1rem;
}
.news-author {
  color: #f89202;
  text-transform: uppercase;
}
.news-item:nth-child(3n) {
  flex-direction: row-reverse;
}
.popular-track-title {
  font-size: inherit;
  line-height: inherit;
  font-weight: 700;
}
.popular-track-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0 16px;
}
.w-100 {
  width: 100%;
}
.m-0 {
  margin: 0;
}
.p-0 {
  padding: 0;
}
.p-t-32 {
  padding-top: 32px;
}
.p-t-48 {
  padding-top: 48px;
}
.p-t-100 {
  padding-top: 100px;
}
.p-t-200 {
  padding-top: 200px;
}
.p-b-48 {
  padding-bottom: 48px;
}
.p-b-64 {
  padding-bottom: 64px;
}
.p-b-200 {
  padding-bottom: 200px;
}
.m-t-0 {
  margin-top: 0;
}
.m-t-15 {
  margin-top: 15px;
}
.m-t-48 {
  margin-top: 48px;
}
.m-t-50 {
  margin-top: 50px;
}
.m-t-64 {
  margin-top: 64px;
}
.m-t-65 {
  margin-top: 65px;
}
.m-b-0 {
  margin-bottom: 0;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-b-24 {
  margin-bottom: 24px;
}
.m-b-40 {
  margin-bottom: 40px;
}
.m-b-48 {
  margin-bottom: 48px;
}
.m-b-64 {
  margin-bottom: 64px;
}
.m-b-100 {
  margin-bottom: 100px;
}
.m-b-200 {
  margin-bottom: 200px;
}
.m-r-16 {
  margin-right: 16px;
}
.m-l-auto {
  margin-left: auto;
}
@media screen and (max-width: 540px) {
  .m-b-md-16 {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 540px) {
  .m-t-sm-25 {
    margin-top: 25px;
  }
}
@media screen and (max-width: 540px) {
  .m-t-sm-48 {
    margin-top: 48px;
  }
}
.b-r-16 {
  border-radius: 16px;
}
.f-s-small {
  font-size: 12.8px;
}
.t-white {
  color: #fff;
}
.t-gray {
  color: #e0e0e0;
}
.t-dark-gray {
  color: #cacaca;
}
.a-center {
  text-align: center;
}
.v-align-top {
  vertical-align: top;
}
.t-uppercase {
  text-transform: uppercase;
}
.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
.bg-free {
  background-image: url("../images/free.png");
  background-position: center;
  background-size: cover;
}
.bg-standard {
  background-image: url("../images/standard.png");
  background-position: center;
  background-size: cover;
}
.bg-premium {
  background-image: url("../images/premium.png");
  background-position: center;
  background-size: cover;
}
.bg-current-artist {
  background-image: url("../images/morten-harket.png");
  background-position: center;
  background-size: cover;
}
.bg-hero-banner {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}
.d-flex {
  display: flex;
}
.invert {
  -webkit-filter: invert(1);
  filter: invert(1);
}
.a-i-center {
  align-items: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
