* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  line-height: 100%;
  color: $white;
  background-color: $black;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main-page {
  flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

// .block-center {
//   position: absolute;
//   top: 50%;
//   left: 50%;

//   transform: translate(-50%, -50%);
// }

h1 {
  font-weight: bold;
  font-size: 60px;
  line-height: 90px;
  text-transform: uppercase;
}

h2 {
  font-weight: bold;
  font-size: 38px;
  line-height: 57px;
  text-transform: uppercase;
}

.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;

  overflow: hidden;

  white-space: nowrap;

  border: 0;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.link-no-decoration {
  color: inherit;
  text-decoration: none;
}

.form {
  box-sizing: border-box;
  width: 570px;
  margin: 0 auto;
}

.form-input {
  input {
    display: block;
    box-sizing: border-box;
    min-width: 270px;
    height: 50px;
    padding: 10px 20px;

    font-weight: 700;
    color: inherit;

    border: 2px solid $white-dark;
    border-radius: 3px;

    background-color: transparent;

    &::placeholder {
      color: $white;
    }
  }
}

.btn {
  display: block;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  background: none;
}

.btn-green {
  background-color: $green;
}

@media (max-width: 414px) {
  h1 {
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
  }

  h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
  }
}
