.header-section {
  position: absolute;
  width: 100%;
  left: 0;
  top: 25px;
  z-index: 50;
}

.header-container {
  display: flex;
}

.header-logo {
  width: 98px;
  display: flex;

  img {
    height: 24px;
    width: auto;
  }
}

.header-link {
  line-height: 150%;
}

.menu-list {
  display: flex;
  width: 313px;
}

.menu-link {
  line-height: 150%;
  color: $white-dark;
}

.header-search {
  width: 248px;

  input {
    height: 25px;
    width: 100%;
    font-family: $second-family;
    color: $gray-light;

    border-radius: 50px;
    background: $gray-dark;
  }
}

@media (max-width: 415px) {
  .header-container {
    padding: 0 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  .header-link {
    font-weight: 700;
  }

  .header-menu {
    margin: 17px 0;
  }

  .menu-list {
    flex-direction: column;
  }

  .menu-item {
    font-weight: 700;
  }

  .header-search {
    margin: 0;
    width: 100%;
  }
}
