.description {
  background-image: url("/src/assets/images/banners/banner.png");
  background-position: center;
  background-size: cover;
}

.description-container {
  display: flex;
  flex-direction: column;
}

.description-title {
  font-weight: 700;
  line-height: 150%;

  @include media(mobile) {
    margin-top: 248px;
  }
}

.description-subscribe {
  font-size: 16px;
  line-height: 150%;

  @include media(mobile) {
    margin: 16px 0;
  }
}

.description-form {
  @include media(mobile) {
    width: 374px;
  }
}

.form-inputs {
  display: flex;
  gap: 24px;

  @include media(mobile) {
    flex-direction: column;
    align-items: center;
  }
}

.form-input {
  input {
    @include media(mobile) {
      width: 374px;
    }
  }
}

.btn-green {
  &:hover {
    background: $green;
  }
}
