.bg-description {
  background-image: url("/src/assets/images/banners/banner.png");
}

.description-container {
  flex-direction: column;
}

.description-title {
  @include media(custom, 682px) {
    margin-top: 218px;
  }

  @include media(mobile) {
    margin-top: 248px;
  }
}

.description-subscribe {
  font-size: 16px;

  @include media(medium) {
    margin: 24px 0;
  }

  @include media(mobile) {
    margin: 16px 0;
  }
}

.description-form {
  width: 100%;
}

.form-inputs {
  gap: 24px;

  @include media(custom, 504px) {
    flex-direction: column;
  }
}
