.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.fd-column {
  flex-direction: column;
}

.row-reverse {
  flex-direction: row-reverse;
}

.col-reverse {
  flex-direction: column-reverse;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.wrap {
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}
